.about-img {
    margin-top: 48px;
}

.work-title {
    font-family: $primaryFont;
    font-weight: 500;
    font-size: 24px;
    color: $primaryBlack;
    letter-spacing: 0.4px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.about-space {
    margin-top: 24px;
}

.email-link {
        color: $primaryBlue;
        text-decoration: none;
        font-weight: 500;
}