.footer {
    margin-top: 128px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: $lightGrey;
    border-top: 4px solid $mediumGrey;
    box-sizing: border-box; /* Include padding and border in element's width and height */
}

.footer-icon {
    padding-left: 8px;
    padding-right: 8px;
}

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 20px;
  }
  
  .footer-list-items {
    display: inline;
    padding-left: 32px;
  }
  