.locked-header {
    margin-top: 128px;
}

.locked-header h1{
    font-family: $primaryFont;
    font-weight: 500;
    font-size: 28px;
    color: #0757DD;
    letter-spacing: 0.47px;
    text-align: center;
    line-height: 40px;
}